<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <style>
        .container{
            width: 80%;
        }
        .container h1{
            text-align: center;
        }
        #status{
            color: #aaa;
            margin-bottom: 5px;
        }
        #defaultCanvas0{
            display: none;
        }
        .controls div label{
            display: inline-block;
            vertical-align: top;
        }
        #notation{
            height: 100px;
            border: 1px solid #eee;
            background-color: #eee;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0;
            margin-right: 0;
        }
        .controls div select, .controls div button{
            height: 30px;
            vertical-align: top;
        }
        .controls div button{
            width: 55px;
            display: inline-block;
            text-align: center;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #999;
            border-radius: 2px;
        }
        .controls div button:hover{
            background-color: white;
        }
        .controls select{
            margin-bottom: 0;
        }
        .controls label{
            margin-bottom: 0;
        }
        .main-display span{
            color: #999;
        }
        #tempo{
            width: 100px;
        }
        #current-playlist-position{
        }
        #current-note{
            float: left;
            margin-top: -2em;
            margin-left: 0.25em;
            display: inline-block;
            max-width: 100px
            overflow: hidden;
        }
        #current-volume{
            float: left;
            margin-top: -2em;
            margin-left: 6em;
            color: #999;
            display: inline-block;
        }
        .upper-right-info{
            color: #999;
            float: right;
            position: relative;
            vertical-align: bottom;
            text-align: right;
            display: inline-block;
            bottom: -2em;
            right: 1em;
            line-height: 0;
        }
        #tune.active{
            background-color: red;
            color: white;
            font-weight: bold;
        }
        #current-score{
        }
        #score-stats{
            padding-left: 1em;
        }
        .keyboard-legend img{
            opacity: 0.5;
        }
        #count-down{
            float: left;
            margin-top: -2em;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            position: relative;
            color: #222;
            display: inline-block;
            text-align: center;
        }
        #qpm-display{
        }
        #loaded-filename{
            float: right;
            margin-top: -2em;
            margin-right: 0.25em;
            position: relative;
            display: inline-block;
            text-align: right;
        }
        .list-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-bottom: 2em;
        }
        ol.list-group{
            list-style-type: decimal;
        }
        .list-group-item:first-child {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .list-group-item {
            position: relative;
            display: list-item;
            list-style-position: inside;
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
            cursor: pointer;
        }
        .list-group-item.active {
            z-index: 2;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .main-display .good{
            color: green;
        }
        .main-display .bad{
            color: red;
        }
        .top-info{
            margin-bottom: -2em;
            margin-top: 4px;
            position: relative;
            float: left;
        }
        .top-info div{
            border:0px solid red;
            color: #999;
        }
        .top-info .left{
            text-align: left;
            padding-left: 0.25em;
        }
        .top-info .center{
            text-align: center;
        }
        .top-info .right{
            text-align: right;
            padding-right: 0.25em;
        }
        .controls div .cb-field{
            vertical-align: middle;
            display: inline-block;
            border: 1px solid #aaa;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3px;
            margin-left: 5px;
            color: #777;
        }
        .controls div .cb-field input{
            padding-left: 5px;
            vertical-align: middle;
            margin-top: 0px;
        }
        .controls div .cb-field label{
            padding-left: 5px;
            vertical-align: middle;
        }
        @media only screen and (max-width: 400px) {
            .modal{
                width: 300px;
                margin-left: -150px;
            }
        }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>Notoriety</h1>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12" id="status" title="Status">1. Select your mic 2. Select your ABC file 3. Press start</div>
        </div>
        <div class="row-fluid controls">
            <div class="span12">
                <label for="devices">Microphone:</label>
                <select id="devices"></select>
                <label for="profiles">Profile:</label>
                <select id="profiles">
                    {% for profile_value, profile_name in profiles %}
                        <option value="{{profile_value}}">{{profile_name}}</option>
                    {% endfor %}
                </select>
                <input type="text" id="newProfile" style="display:none;" placeholder="Enter name and press enter" />
                <label for="file">File:</label>
                <select id="file">
                    <option value="">---select---</option>
                    {% for fn in files %}
                        <option value="{{fn}}">{{fn}}</option>
                    {% endfor %}
                </select>
                <label for="tempo">Tempo:</label>
                <select id="tempo">
                    <option value="">inherit</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                    <option value="120">120</option>
                    <option value="180">180</option>
                    <option value="240">240</option>
                </select>
                <button id="start" disabled="disabled" title="Enable mic and begin playing along to sheet music.">Start</button>
                <button id="reset">Reset</button>
                <button id="tune" title="Enable mic and show pitch but don't play a game.">Tune</button>
            </div>
        </div>
        <div class="row-fluid main-display">
            <div class="row-fluid top-info">
                <div id="current-playlist-position" title="Playlist position." class="span4 left">-</div>
                <div id="qpm-display" title="QPM" class="span4 center">-</div>
                <div class="span4 right">
                    <span id="current-score" title="Your current score.">-</span>
                    <span id="score-stats" title="Score statistics."></span>
                </div>
            </div>
            <div class="span12" id="notation"></div>
            <span id="current-note" title="Expected and actual note detected on the microphone.">-</span>
            <span id="current-volume" title="Microphone volume.">-</span>
            <div id="midi" style="display:none;"></div>
            <span id="count-down"></span>
            <span id="loaded-filename">-</span>
        </div>
        <div class="row-fluid controls">
            <div class="span12 keyboard-legend">
                <img src="img/letter-s-icon.png" width="50" title="Start/Stop Game" />
                <img src="img/letter-r-icon.png" width="50" title="Reset Game" />
                <img src="img/letter-t-icon.png" width="50" title="Start/Stop Tuner" />
                <img src="img/letter-b-icon.png" width="50" title="Back One Playlist Item" />
                <img src="img/letter-n-icon.png" width="50" title="Next One Playlist Item" />
                <span class="cb-field">
                    <input id="auto-continue" type="checkbox" />
                    <label for="auto-continue" title="Once score is above average, immediately move on to next playlist item.">Auto-Continue</label>
                </span>
                <span class="cb-field">
                    <input id="ignore-duration" type="checkbox" />
                    <label for="ignore-duration" title="If checked, will score a note if it's met and will not check duration.">Ignore Duration</label>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <ol id="playlist" class="list-group"></ol>
            </div>
        </div>
    </div>

    {#<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#message-model">Open Modal</button>#}
    <div class="modal fade" id="message-model" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center;"></div>
            </div>
        </div>
    </div>

    <script src="js/ext/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/ext/js.cookie.min.js" type="text/javascript"></script>
    {#<script src="js/ext/popper.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/flat-ui.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.dom.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.sound.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/ml5.min.js" type="text/javascript"></script>#}
    <script src="js/ext/volume-meter.js" type="text/javascript"></script>
    <script src="js/ext/pitchdetector.js" type="text/javascript"></script>
    <script src="js/ext/abcjs_midi_6.0.0-beta.10-min.js" type="text/javascript"></script>
    <script src="js/ext/bootstrap.min.js" type="text/javascript"></script>

    {#<script src="js/notoriety.js?{{uuid}}" type="text/javascript"></script>#}
    <script src="js/bundle.js?{{uuid}}" type="text/javascript"></script>
  </body>
</html>
